div{
    text-align: center;
    position: relative;
    height: 200px;
    bottom: -60px;
    font-size: 200%;
    color: rgb(210, 47, 255);
   
}
body{
    background-color: rgb(250, 123, 123);
}
h1{
    text-align: center;
    color: rgb(210, 47, 255);
}